@{
    ViewBag.Title = "Listado del Marcas";
}

<h2>Lista de Marcas</h2>

<div class="row">
    <div class="col-sm-1">
        <button onclick="app.helpers.showModal('MarcaCreatePopup','@Url.Action("create")')" class="btn btn-success">Nuevo</button>
    </div>

    @using (Ajax.BeginForm("Buscar", "Marca",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "listado"
        }))
    {
        <div class="row">
            <div class="form-group col-sm-3 ">
                <input name="filterByName" id="filterByName" class="form-control" placeholder="Buscar por nombre" />
            </div>
            <div class="col-sm-2">
                <button type="submit" class="buscar btn btn-facebook">Buscar</button>
            </div>
        </div>
    }
</div>

<div id="listado">
    @Html.Action("Buscar")
</div>

@Modal.CrearModal("Crear Categoría", "MarcaCreatePopup")

@section scriptsAdicionales
{
    @Scripts.Render("~/bundles/jqueryval")
}
