
@{
    ViewBag.Title = "ConsultaProductosStock";
}

<h2>ConsultaProductosStock</h2>

<div id="ListaProductos"></div>

@section scriptsAdicionales
{
    <script>
        app.ConsultaProductosStockView.Init();
    </script>
}
