
@{
    ViewBag.Title = "ConsultaProductosStock";
}

<div class="ConsultaProductosStock row">
    <div class="form-group col-sm-3 ">
        <input  class="Nombre form-control" placeholder="Buscar por nombre" />
    </div>
    <div class="form-group col-sm-3 ">
        <input  class="Stock form-control" placeholder="Buscar por stock" />
    </div>
    <div class="col-sm-3">
        <button type="button" class="Buscar btn btn-facebook">Buscar</button>
    </div>
</div>

<div id="ListaProductos"></div>

@section scriptsAdicionales
{
    <script>
        app.ConsultaProductosStockView.Init();
    </script>
}
