@using App.UI.Web.MVC.Common
@{
    Layout = null;
}
@if (SecurityHelpers.Islogged())
{
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/Content/themes/main/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
            <span class="hidden-xs">@SecurityHelpers.GetUserFullName()</span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="/Content/themes/main/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                <p>
                    @SecurityHelpers.GetUserFullName() - Web Developer
                    <small>Member since Nov. 2012</small>
                </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("Salir", "Seguridad")" class="btn btn-default btn-flat">Salir</a>
                </div>
            </li>
        </ul>
    </li>
}
else
{
    <a href="@Url.Action("Login", "Seguridad")" class="btn btn-default btn-flat">Ingresar</a>
}