@model IEnumerable<App.Entities.Base.Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <label>Buscar por Nombre</label>
            <input name="filterByName" id="filterByName" class="form-control" value="" placeholder="Digitar..." />
        </div>
        <div class="col-md-3">
            <label>Buscar por Categoría</label>
            @*<input name="filterByCategoria" class="form-control"/>*@
            @Html.DropDownList("filterByCategoria", new SelectList(ViewBag.Categorias, "CategoriaId", "Nombre"), "Todos", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label>Buscar por Marca</label>
            @*<input name="filterByCategoria" class="form-control"/>*@
            @Html.DropDownList("filterByMarca", new SelectList(ViewBag.Marcas, "MarcaId", "Nombre"), "Todos", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <br />
            <button type="button" id="btnConsultar" class="btn btn-primary">Buscar</button>
        </div>
    </div>

}
<div id="resultado"></div>

@section scriptsAdicionales
{
    <script src="~/Scripts/mustache.min.js"></script>

    <script id="resultadoTable" type="x-tmpl-mustache">
        <table class="table">
            <tr>
                <td>Código</td>
                <td>Nombre</td>
            </tr>
            {{#Resultado}}
            <tr>
                <td>{{ProductoCode}}</td>
                <td>{{Nombre}}</td>
            </tr>
            {{/Resultado}}
        </table>
    </script>

    <script type="text/javascript">

        $(document).ready(configInit);

        function configInit() {
            $('#btnConsultar').on('click', buscar);
        }

        function buscar() {
            //Funciones jquery ajax
            $.post("@Url.Action("Index3Buscar", "Producto")",
                  {
                    filterByName: $('#filterByName').val(),
                    filterByCategoria: $('#filterByCategoria').val(),
                    filterByMarca: $('#filterByMarca').val()
                },
                function (response) {
                    var template = $('#resultadoTable').html();
                    Mustache.parse(template);
                    var htmlRender = Mustache.render(template,
                        {
                           Resultado : response
                        }
                    );

                    $('#resultado').html(htmlRender);

                }
            );
        }

    </script>
}

