body {
}

header {
    background-color: #000;
    height: 120px;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
}

nav {
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.dropdown {
    display: inline-block;
    float: right;
    position: fixed;
}

p {
    text-align:justify;
}

footer {
    background-color: #000;
    color: #fff;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
}

section {
    padding-top:130px;
    margin-bottom: 70px;
}

.headerlogo {
    float: left;
    width: 160px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown-content{
    display: block;
    float: left;
    padding-top:20px;
}

.dropdown-content li {
    display: block;
    float: left;
    padding-right: 10px;
}

#registroAlta label{
    display: block;
    margin: 10px 0 0 0;
}

#registroAlta2 div {
    margin: 10px 0 0 0;
}

#registroAlta2 div label{
    width: 15%;
    float: left;
}

#registroAlta3 fieldset {
    float: left;
    width: 45%;
}

#registroAlta3 label {
    display: block;
    margin: 10px 0 0 0;
}

input:focus {
border: 2px solid #000;
background: #F3F3F3;
}

















